{% extends 'navbar.html' %}
{% block content %}
        <h2 class="text-center">View Marks for {{ student.full_name }}</h2>
        
        <form method="post" class="mb-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="semester">Select Semester:</label>
                <select id="semester" name="semester" class="form-control" required>
                    <option value="" disabled selected>Select Semester</option>
                    <option value="1" {% if selected_semester == '1' %}selected{% endif %}>1</option>
                    <option value="2" {% if selected_semester == '2' %}selected{% endif %}>2</option>
                    <option value="3" {% if selected_semester == '3' %}selected{% endif %}>3</option>
                    <option value="4" {% if selected_semester == '4' %}selected{% endif %}>4</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">View Marks</button>
        </form>

        {% if marks %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Subject Name</th>
                    <th>Subject Code</th>
                    <th>Marks Obtained</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for mark in marks %}
                <tr>
                    <td>{{ mark.subject.subject_name }}</td>
                    <td>{{ mark.subject.subject_code }}</td>
                    <td>{{ mark.marks_obtained }}</td>
                    {% if msg == "Passed" %}
                    <td style="color: green;">{{msg}}</td>
                    {% else %}
                    <td style="color: red;">{{msg}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="text-center">No marks available for this semester.</p>
        {% endif %}
{% endblock %}
